p {
    font-size: 50px;
    color: rgb(201, 30, 0);
    font-weight: bold;
}
body {
    background-color: #454545;
}
h1 {
    font-size: large;
    color: blue;
}
span {
    font-weight: bold;
    color: aquamarine;
}