p {
    font-size: 50px;
    color: rgb(201, 30, 0);
    font-weight: bold;
}
body {
    background-color: #5f3c3c;
}
h1 {
    font-size: large;
    color: blue;
}
span {
    font-weight: bold;
    color: aquamarine;
}
h2 {
    font-size: 100px;
    color: rgb(82, 82, 255);
}
h3 {
    font-size: 70px;
    color: black;
}